{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid g-0 ">
    <div class="row g-0">
        <div class="col-12 landing-image">
            <img class="opacity-75" src="{% static 'images/lasagna.jpg' %}" alt="Picture of lasagna">
            <div class="italianno-font" id="mutatio">
                <h1 class="mutatio-header">Always Homemade</h1>
            </div>
            <img class="chefs-hat" src="{% static 'images/chefs-hat.png' %}" alt="Illustration Of A Chefs Hat">
            <div class="text-center slogan italianno-font">
            <p >Paradise For Pasta Lovers By Pasta Lovers</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid promises-container">
    <div class="row promises oswald-font">
        <div class="col-md-4 promises-col">
            <div class="circle-promises">
                <i class="fa-solid fa-check"></i>
                <h2>First Promise</h2>
                <p>We at Mutatio Promise Our Customers That All<br> Our Pasta Dishes Include Fresh Pasta</p>
            </div>
        </div>
    
        <div class="col-md-4 promises-col">
            <div class="circle-promises">
                <i class="fa-solid fa-check"></i>
                <h2>Second Promise</h2>
                <p>We At Mutatio Promise Our Customers That All Our Pasta Is Made In The Restaurant By Seasoned Chefs</p>
            </div>
        </div>
        
        <div class="col-md-4 promises-col">
            <div class="circle-promises">
                <i class="fa-solid fa-check"></i>
                <h2>Third Promise </h2>
                <p>We At Mutatio Promise Our Customers That Service Will Be Amazing Thanks To Our Great Chefs And Our Hosts And Hostesses</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-12 italy-image">
            <img src ="{% static 'images/alley-italy.jpg'%}" alt="Image of alley in Italy" >
            <div class="text-center-top italianno-font">
                <h2 id="history-name">Famiglia Mutatio</h2>
            </div>
            <div class="text-center-italy-image italianno-font">
                <p id="history-story">This Restaurant Was Started By The Mutatios In Fara San Martino In The Year 1783 And Has Then Gone From Heir To Heir Since The Start. The Restaurant Has Modernized But Recipes Are All Derived From The Original Menu Which Is What Makes Us So Unique <br> | Come Get A Taste Of Old Italy At Mutatios |</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src=" {% static 'js/script.js' %}"></script>
{% endblock %}
