{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid text-white booking-page">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Cancel Your Reservation</h2>
            <div class="booking-form">
                <form method="post">
                    {{ cancellation_form | crispy }}
                    {% csrf_token %}
            </div>
                <button class="btn btn-secondary form-buttons" type="submit">
                    Cancel Reservation
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}