{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
        <h2>Make Your Reservation Below!</h2>
        <p>We at Mutatio believe in the power of tradtion in food come test our world famous pasta recipe!</p>
        <form method="post">
            {{ booking_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">
                Submit
            </button>
        </form>
        <!-- add your form here. Your submit button should 
                            have the classes of btn, btn-secondary -->
    </div>
</div>
{% endblock %}