{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class="container-fluid">
    <h1>Make Reservations</h1>¨
    {{ booking.content | safe }}
    <div class="row">
        <div class="row">
            <form id="bookingForm" method="post">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-booking">Reserve</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}