{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid booking-page text-white">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Make Your Reservation Below!</h2>
            <p>We at Mutatio believe in the power of tradtion in food come test our world famous pasta recipe!</p>
            <div class="booking-form">
                <form method="post">
                    {{ booking_form | crispy }}
                    {% csrf_token %}    
                </form>
            </div>
            <button class="btn btn-secondary" type="submit" aria-label="submit">Submit
            </button>
            <a class="nav-link {% if request.path == cancel_bookings_url %}active{% endif %}" aria-current="page" href="{% url 'cancel_bookings' %}">
            <button  type="button" class="btn btn-secondary" aria-label="cancel reservation">Cancel Reservation</button></a>
        </div>
    </div>
</div>
{% endblock %}