/*--------------------------------------------Colors*/
.opentime {
    color: white;
    padding-top: 0;
}

/* ----------------------------------------Landing Page */
.landing-image {
    position: relative;
    text-align: center;
    background-color: black;
    z-index: 1;
}

.slogan{
    font-size: 20px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 20px;
    opacity: 1;
    color: rgb(230, 222, 3);
}
.text-center-landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(230, 222, 3);
}

.chefs-hat {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    max-width: 15%;
    max-height: 15%;
}

/* ----------------------------------------Special paddings/margins/text */

/*--------------------------------------------Heading*/
.navbar{
    opacity: 0.75;
    background-color: rgb(207, 185, 151);
    color: rgb(207, 185, 151);
}

/* ----------------------------------------Footer */

/* ----------------------------------------Media Queries */