
  
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(139, 112, 71);
    color: rgb(245, 229, 205);
}

/*--------------------------------------------Colors*/
.background-brown {
    background-color: rgb(139, 112, 71);
}

/* ----------------------------------------Landing Page */
.landing-image {
    position: relative;
    text-align: center;
    background-color: black;
    z-index: 1;
}
.landing-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
}
.italy-image {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 0;
    margin: 0;
    
}
.italy-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
}
.slogan{
    font-size: 35px;
    color: white !important;
}
.mutatio-header {
    margin-top: -100px !important;
    margin-bottom: 0px !important;
    padding-top: 20px;
    font-size: 70px;
}
#mutatio {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 85%;
    left: 50%;
    color: rgb(245, 229, 205);
}
.text-center-italy-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chefs-hat {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    max-width: 15%;
    max-height: 15%;
}
.promises{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50;
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    border-left: 0;
    border-right: 0;
    position: relative;
}

.circle-promises {
    width: 500px;
    height: 500px;
    line-height: 20px;
    padding-top: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background-color: rgb(66, 45, 12);
}
.circle-promises p {
    top: 50%;
    width: 90%;
    padding-top: 150px;
    padding-left: 25px;
}

#history-name {
    font-size: 80px !important;
    color: rgb(245, 229, 205);
}

#history-story{
    color: white !important;
    font-size: 40px;
}
.promises-container h2 {
    color: rgb(245, 229, 205);
}

/* ----------------------------------------Special paddings/margins/text/fonts */
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-left {
    position: absolute;
    top: 8px;
    left: 20px;
}
.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center-top {
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 16px;
  }
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 16px;
}
.text-center-align {
    text-align: center;
}
.solid-border{
    border: solid 1px black;
}
.italianno-font {
    font-family: "Italianno", cursive;
    font-weight: 200;
}
.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
/*--------------------------------------------Navbar*/
.navbar{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: px;
    width: 100%;
    z-index: 2;
    color: rgb(245, 229, 205);

}

.nav-link {
    background: transparent !important;
    margin-left: 5px !important;
    font-family: "Italianno", cursive;
    color: rgb(245, 229, 205);
}
a.nav-link.active {
    font-family: "Italianno", cursive !important;
    color: rgb(245, 229, 205) !important;
}
.navbar-toggler{
    margin-left: 20px;
}
li.nav-item {
    font-size: 40px;
}
.nav-tabs .nav-link.active {
    border-style: groove;
    border-color: black;
    border-width: 5px;
    
}
.nav-tabs{
    border-bottom: none;
}
.navbar-toggler-icon {
    background-color: var(--bs-gray-700) !important;
    color: var(--bs-gray-700) !important;
}
.navbar-toggler{
    background-color: var(--bs-gray-700) !important;
    color: var(--bs-gray-700) !important;
}
.circle {
    width: 95%;
    height: auto;
    border: 2px solid white;
    border-radius: 50px;
    position: relative;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    animation: rotateCircle 5s linear infinite;
}
@keyframes rotateCircle {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(50%) rotate(360deg);
    }
}
.opentime {
    color: rgb(245, 229, 205);
    text-align: center;
    position: absolute;
    top: 15px;
    right: 8px;
    font-size: 35px;
}
.home-button {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 60px;
}


/*--------------------------------------------Menu*/

.menu-header-img{
    position: relative;
    text-align: center;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.menu-header-img img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    filter: brightness(80%);
}

.menu-options{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    margin: 0;
    font-size: 20px;
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 50;
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    border-left: 0;
    border-right: 0;
    position: relative;
    left: 0;
    
}

.starter-img{
    position: relative;
    text-align: center;
    z-index: 0;
    padding: 0;
    margin: 0;
}
.starter-img img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
    filter: brightness(80%);
}
.main-course-img {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-course-img img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

.desert-img {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.desert-img img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

/* ----------------------------------------Booking Form */

.booking-form{
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(44, 44, 44);
    text-align: center;
    margin-bottom: 15px;
}

.booking-page {
    background-color: rgb(139, 112, 71);
    padding-top: 50px;
}

#hint_id_verify_cancellation_policy{
    color: white;
}

.form-buttons {
    background-color: black;
}

/* ----------------------------------------Footer */
.base-footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: auto;
    border-style: groove;
    border-color: rgb(44, 44, 44);
    border-width: 5px;
    background-color: rgb(22, 22, 22);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.made-by{
    position: absolute;
    bottom: 0;
    right: 10px;
}

/* ----------------------------------------Media Queries */

@media screen and (max-width:1440px) {
    li.nav-item {
        font-size: 35px !important;
    }
    h1.mutatio-header {
        font-size: 50px;
    }
    p.opentime {
        font-size: 20px;
    }
}