

body{
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(139, 112, 71);
    color: rgb(245, 229, 205);
    
}
.login {
    flex: 1;
}
/*--------------------------------------------Colors*/
.background-brown {
    background-color: rgb(139, 112, 71);
}

/* ----------------------------------------Landing Page */
.landing-image {
    position: relative;
    text-align: center;
    background-color: black;
    z-index: 1;
}
.landing-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
}
.italy-image {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 0;
    margin: 0;
    
}
.italy-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
}

.slogan{
    font-size: 35px;
    color: white !important;
}
.mutatio-header {
    font-size: 70px;
}
#mutatio {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 75%;
    left: 50%;
    color: rgb(245, 229, 205);
}
.text-center-italy-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chefs-hat {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    max-width: 15%;
    max-height: 15%;
}

.promises{
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0;
}

.circle-promises {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 1rem;
    height: 500px;
    width: 500px;
    text-align: center;
    color: white;
}

.circle-promises p {
    top: 50%;
    width: 90%;
    padding-top: 50px;
    padding-left: 25px;
    font-size: 25px;
}

.promises-slideshow{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.promises-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.promises-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.promises-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.my-slides {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 15px wheat;
    border-bottom: solid 15px wheat;
    border-radius: 50%;
    margin-top: 160px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.slide-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border: none;
    width: 3rem;
    height: 8rem;
    font-size: 4rem;
    opacity: 0.7;
    transition: opacity 100ms;
    z-index: 2;
}

#prev-arrow{
    left: 0;
    border-radius: 0 1rem 1rem 0;
    color: wheat;
}

#next-arrow {
    right: 0;
    border-radius: 1rem 0 0 1rem;
    color: wheat;
}


#history-name {
    font-size: 80px;
    color: rgb(245, 229, 205);
}

#history-story{
    color: white !important;
    font-size: 40px;
}
.promises-slideshow h2 {
    color: rgb(245, 229, 205);
}

/* ----------------------------------------Special paddings/margins/text/fonts */
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-left {
    position: absolute;
    top: 8px;
    left: 20px;
}
.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center-top {
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 16px;
  }
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 16px;
}
.text-center-align {
    text-align: center;
}
.solid-border{
    border: solid 1px black;
}
.italianno-font {
    font-family: "Italianno", cursive;
    font-weight: 200;
}
.oswald-font {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.alert {
    padding-top: 50px !important;
    margin-top: 60px !important;
    padding-bottom: 0px !important;
    padding-left: 200px !important;
}

.invalid-feedback {
    color: white !important;
}
/*--------------------------------------------Navbar*/
.navbar{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: rgb(245, 229, 205);

}

.nav-link {
    background: transparent !important;
    margin-left: 5px ;
    font-family: "Italianno", cursive;
    color: rgb(245, 229, 205);
}
a.nav-link.active {
    font-family: "Italianno", cursive !important;
    color: rgb(245, 229, 205) !important;
}
.navbar-toggler{
    margin-left: 20px;
}
li.nav-item {
    font-size: 40px;
}
.nav-tabs .nav-link.active {
    border-style: groove;
    border-color: black;
    border-width: 5px;
    
}
.nav-tabs{
    border-bottom: none;
}

.opentime {
    color: rgb(245, 229, 205);
    text-align: center;
    position: absolute;
    top: 15px;
    right: 8px;
    font-size: 35px;
}
#home-button {
    font-size: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*--------------------------------------------Menu*/

.menu-header-img{
    position: relative;
    text-align: center;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.menu-header-img img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    filter: brightness(80%);
}

.menu-options{
    text-align: center;
    padding-left: 0;
    margin: 0;
    font-size: 20px;
    width: 100%;
    height: auto;
    border-top: 2px solid white;
    border-color: white;
    border-left: 0;
    border-right: 0;
    position: relative;
    left: 0;
    
}

.starter-img{
    position: relative;
    text-align: center;
    z-index: 0;
    padding: 0;
    margin: 0;
}
.starter-img img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
    filter: brightness(80%);
}
.main-course-img {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-course-img img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

.desert-img {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.desert-img img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

/* ----------------------------------------Booking Form */

.booking-form{
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(44, 44, 44);
    text-align: center;
    margin-bottom: 15px;
}

.booking-page {
    background-color: rgb(139, 112, 71);
    padding-top: 50px;
}

#hint_id_verify_cancellation_policy{
    color: white;
}

.form-buttons {
    background-color: black;
}

.cancel-reservation {
    margin-bottom: 80rem !important;
    margin-top: 20rem !important;
}
.login {
    margin-bottom: 80rem !important;
    margin-top: 20rem !important;
    height: 100%;
}
#login {
    margin-top: 15rem;
    margin-bottom: 0;
}
.booking-list {
    margin-bottom: 80rem !important;
    margin-top: 20rem !important;
}
.register {
    margin-bottom: 80rem !important;
    margin-top: 20rem !important;
}
.register-form {
    text-align: left;
}
.create-booking-admin {
    margin-bottom: 80rem !important;
    margin-top: 20rem !important;
}
.confirm-deletion {
    margin-bottom: 80rem !important;
    margin-top: 20rem !important; 
}
/* ----------------------------------------Footer */
.base-footer{
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    border-color: rgb(44, 44, 44);
    border-width: 5px;
    background-color: rgb(22, 22, 22);
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.made-by{
    position: absolute;
    bottom: 0;
    right: 10px;
}

/* ----------------------------------------Media Queries */

@media screen and (min-width: 1440px) {
    /* Styles for larger screens if needed */
}

/* Medium devices (laptops) */
@media screen and (max-width: 1440px) and (min-width: 1024px) {
    #home-button {
        font-size: 4rem;
    }
    li.nav-item {
        font-size: 2rem;
    }
    h1.mutatio-header {
        font-size: 3rem;
    }
    .mutatio-header {
        padding-top: 2rem;
    }
    .promises p {
        font-size: 1.2rem;
    }
    .circle-promises {
        height: 20rem;
        width: 20rem;
    }
    .my-slides {
        margin-top: 10rem;
    }
}

/* Small devices (tablets) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    li.nav-item {
        font-size: 1.5rem;
    }
    h1.mutatio-header {
        font-size: 2rem;
    }
    #home-button {
        font-size: 3rem;
    }
    p#history-story {
        font-size: 1.2rem;
        width: 80%;
    }
    h2#history-name {
        font-size: 2rem;
    }
    .my-slides {
        margin-top: 5rem;
    }
}

/* Extra small devices (phones) */
@media screen and (max-width: 768px) {
    li.nav-item {
        font-size: 1.5rem;
    }
    h1.mutatio-header {
        font-size: 1.5rem;
    }
    #home-button {
        font-size: 2rem;
    }
    p#history-story {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.4rem;
        width: 100%;
        padding-top: 150px;
        padding-bottom: 0;
        color: rgb(248, 177, 106) !important;
    }
    h2#history-name {
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
    }
    .my-slides {
        margin-top: 3rem;
    }
    .navbar-nav {
        flex-direction: column !important;
    }
    a.nav-link {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.1rem;
        border: none !important;
    }
    .nav-tabs .nav-link.active{
        font-family: 'Courier New', Courier, monospace !important;
    }
    a#home-button.nav-link.active {
        font-family: 'Courier New', Courier, monospace !important;
    }
}

/* Very small devices (phones in portrait) */
@media screen and (max-width: 430px) {
    .slide-arrow {
        height: 4rem;
        width: 2rem;
    }
    .circle-promises {
        height: 18rem;
        width: 18rem;
    }
    .circle-promises p {
        font-size: 1rem;
        padding-top: 25px;
    }
    .promises-list {
        padding-top: 250px;
    }
    .nav-links {
        left: 0;
        top: 0;
    }
    .navbar-nav {
        display: block !important;
        width: 100%;
    }
    li.nav-item {
        font-size: 1rem;
    }
    #home-button {
        font-size: 1.5rem;
        top: 10px;
    }
    p.opentime {
        font-size: 0.8rem;
    }
    p#history-story {
        font-size: 0.9rem;
        width: 120%;
        padding-top: 100px;
        font-weight: bold;
        color: rgb(248, 177, 106) !important;
    }
    h2#history-name {
        font-size: 1.2rem;
    }
    .footer {
        font-size: 0.7rem;
    }
    .my-slides {
        margin-top: 1rem;
    }
    p.opentime{
        font-family: 'Courier New', Courier, monospace;
        padding-top: 250px;
    }
    .create-reservation{
        padding-top: 100px;
    }
    h2#login {
        padding-top: 0;
    }
}

/* Very small devices (phones in portrait) */
@media screen and (max-width: 321px) {
    li.nav-item {
        font-size: 0.9rem;
    }
    #home-button {
        font-size: 1.2rem;
        top: 10px;
    }
    p.opentime {
        font-size: 0.7rem;
    }
    .slogan p {
        font-size: 0.8rem;
        font-family: 'Courier New', Courier, monospace;
    }
    h1.mutatio-header{
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 0;
        font-size: 0.9rem;
    }
    .alert{
        padding-top: 250px !important;
        padding-left: 0 !important;
    }
    .booking-list td{
        padding: 0 !important;
        font-size: 12px;
    }
    .booking-list{
        padding: 0 !important;
        font: 12px;
        border: none !important;
    }
    .footer {
        font-size: 0.6rem;
    }
    p.opentime {
        padding-top: 180px;
    }
    p#history-story {
        font-size: 0.8rem;
        width: 190%;
        padding-right: 100px;
        font-weight: bold;
        color: rgb(248, 177, 106) !important;
    }
    .italy-image img{
        height: 110%;
    }
    h2#history-name {
        font-size: 1rem;
    }
    .my-slides {
        margin-top: 0.5rem;
    }
}
/*MAKE NAV ITEMS BIGGER AND MOVE HEADER CHECK PHONE TO SEE IF IT'S GOOD*/